{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "prefer-const": 1,
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": [ 1 ],
    "class-methods-use-this": [ 1 ],
    "no-undef": [ 1 ],
    "no-case-declarations": [ 1 ],
    "no-return-assign": [ 1 ],
    "no-param-reassign": [ 1 ],
    "no-shadow": [ 1 ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-danger": 0,
    "react/no-deprecated": "error",
    "react/no-did-mount-set-state": [2],
    "react/no-did-update-set-state": [2],
    "react/no-direct-mutation-state": 0,
    "react/no-is-mounted": 2,
    "react/no-multi-comp": [2, { "ignoreStateless": true }],
    "react/no-set-state": 0,
    "react/no-string-refs": 0,
    "react/no-unknown-property": 2,
    "react/prop-types": [2, { "ignore": [], "customValidators": [] }],
    "react/react-in-jsx-scope": 2,
    "react/require-extension": [0, { "extensions": [".js"] }]
  }
}
