---
layout: default
title: Contact Me
---

<!--
  To make this form work you have to:
  1. defined "email: youremail@email.com" in _config.yml file.
  2. verify your form on formspree.io.
-->

<div id="content" class="site-content fadeInDown delay_075s">
  <main id="main" class="site-main outer">
    <div class="inner">
      <h1 class="post-title">Say Hi!</h1>
      {% if site.contact_page_description %}
        <p>{{ site.contact_page_description }}</p>
      {{else}}
      {% endif %}
      <section class="contact-form">
        {% include typeform-contact.html %}
      </section>
    </div><!-- .inner-->
  </main>
</div>
