$gray-1: #f9f9f9 !default;
$gray-2: #e5e5e5 !default;
$gray-3: #ccc !default;
$gray-4: #767676 !default;
$gray-5: #515151 !default;
$gray-6: #313131 !default;

$red: #ac4142 !default;
$orange: #d28445 !default;
$yellow: #f4bf75 !default;
$green: #90a959 !default;
$cyan: #75b5aa !default;
$blue: #268bd2 !default;
$brown: #8f5536 !default;

/* Notices */
$primary-color: #9900ff;
$success-color: #40c057;
$warning-color: #fcc419;
$danger-color: #f03e3e;
$info-color: #AE1B75;

$root-font-family: -apple-system, BlinkMacSystemFont, "PT Sans", Arial, sans-serif !default;
$root-font-size: 1rem !default;
$root-line-height: 1.5 !default;

$body-color: $gray-5 !default;
$body-muted: $gray-4 !default;
$body-bg: #fff !default;
$link-color: $blue !default;
$heading-color: $gray-6 !default;

$border-color: $gray-2 !default;
$border-color-2: #06D7D9 !default;
$border-radius: 300px !default;
$padding-v: 1em !default;
$padding-h: 1.5em !default;
$heading-spacing: 0.5rem !default;
$section-spacing: 2rem !default;
$sidebar-width: 18rem !default;

$large-breakpoint: 49rem !default;
$large-font-size: 1.25rem !default;
$medium-font-size: 1.10rem !default;

$box-shadow-size: 1px !default;
$box-shadow-opacity: 0.16 !default;
$default-box-shadow: $box-shadow-size
                     $box-shadow-size
                     $box-shadow-size
                     rgba(0, 0, 0, $box-shadow-opacity);

$code-font-family: Menlo, Monaco, "Courier New", monospace !default;
$code-color: #bf616a !default;

// Hyde theming
$sidebar-bg-color: #202020 !default;
$sidebar-title-color: #ffffff !default;
$sidebar-sticky: true !default;
$layout-reverse: false !default;

// /* Fluid type */

// $base-font-size: 16px !default;
// $min-vw: $small !default;
// $max-vw: $xlarge !default;
// $min-font-size: 14px !default;
// $max-font-size: 18px !default;

// /* Navicon */

// $navicon-width: 1.75em !default;
// $navicon-height: 0.25em !default;
// $navicon-duration: 0.5s !default;
// $navicon-toggled-size: 1 !default;
// $navicon-nav-bg-close: transparent !default;
// $navicon-nav-bg-open: transparent !default;
// $navicon-content-bg: $text-color !default;

/* brands */
$behance-color: #1769ff !default;
$bitbucket-color: #205081 !default;
$dribbble-color: #ea4c89 !default;
$hacker-news-color: #FF5700 !default;
$flickr-color: #ff0084 !default;
$foursquare-color: #0072b1 !default;
$github-color: #171516 !default;
$gitlab-color: #e24329 !default;
$google-plus-color: #dd4b39 !default;
$instagram-color: #517fa4 !default;
$lastfm-color: #d51007 !default;
$linkedin-color: #007bb6 !default;
$pinterest-color: #cb2027 !default;
$rss-color: #fa9b39 !default;
$soundcloud-color: #ff3300 !default;
$stackoverflow-color: #fe7a15 !default;
$tumblr-color: #32506d !default;
$twitter-color: #55acee !default;
$vimeo-color: #1ab7ea !default;
$vine-color: #00bf8f !default;
$youtube-color: #bb0000 !default;
$xing-color: #006567 !default;

/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

// FontAwesome
$fa-font-path: "./webfonts";

/* type scale */
$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px
$dark-gray: mix(#000, $gray-5, 40%) !default;
// /* YIQ color contrast */

// $yiq-contrasted-dark-default: $dark-gray !default;
// $yiq-contrasted-light-default: #fff !default;
// $yiq-contrasted-threshold: 175 !default;
// $yiq-debug: false !default;

$lighter-gray: mix(#fff, $gray-5, 90%) !default;





