<!-- Additional head bits without overriding original head -->
<meta content="Title" property="og:title">
<meta content="Type" property="og:type">
<meta content="Image" property="og:image">
<meta content="URL" property="og:url">
<meta content="Site Name" property="og:site_name">
<meta content="Description" property="og:description">
<meta content="Time" property="article:published_time">
<meta content="Author" property="article:author">
<meta content="Category" property="article:section">
<meta content="Tag" property="article:tag">
