---
---


<!-- start custom head snippets -->
<link rel="stylesheet" type="text/css" href="assets/css/bigfoot-default.css">
<link rel="stylesheet" type="text/css" href="assets/css/night-mode.css">
<script type="text/javascript" src="assets/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="assets/js/bigfoot.js"></script>
<script type="text/javascript" src="assets/js/night-mode.js"></script>
<script type="text/javascript">
    var bigfoot = $.bigfoot(
        {
            actionOriginalFN: "ignore",
            positionContent: true,
            deleteOnUnhover: false,
            preventPageScroll: false,
            hoverDelay: 250
        }
    );
</script>


<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
