<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/center_image.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Newsletter</title>
</head>
<body>
  <div class="page__share">
    <p>I write occasional newsletters with industry links, updates on what I'm up to, and technical content I write, or don't, on the blog.</p>
    <p>Sign up if you want. No spam. I hate that too.</p>
    <iframe scrolling="no" style="width:100%!important;height:220px;border:1px #ccc solid !important" class="lazyload" data-src="https://buttondown.email/tiffanywhite?as_embed=true"></iframe>
  </div>
  <script src="/assets/js/lazysizes.min.js" async=""></script>
</body>
</html>
