<section class="newsletter-box inner-wide">
    <div class="inner">
        <h2 class="newsletter-box-title">Subscribe to {{ site.name }} newsletter</h2>
        <p>Get the latest and greatest from {{ site.name }} delivered straight to your inbox every week.</p>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="{{ site.mailchimp_url }}" method="post" id="embeddable-buttondown-form" name="embeddable-buttondown-form" class="validate embeddable-buttondown-form gh-subscribe-form" target="_blank" novalidate>
                <label for="bd-email" class="screen-reader-text">Email Address</label>
                <input type="email" value="" name="email" class="required email subscribe-email" id="bd-email" placeholder="Your email address">
                <input type="hidden" value="1" name="embed"></input>
                <input type="submit" value="Subscribe" name="subscribe" class="button">
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div><!-- .inner -->
</section><!-- .widget -->
