<div class="notice--info">
  <h4>No Ads. No Sponsored Content. Ever.</h4>
  <p>I've decided that I no longer want to have sponsored posts on this blog. I also, though as tempting as it may sound, don't want ads; even if I got big enough for Carbon ads I don't want them. I want to post free, engaging content for beginning/junior devs. This means that I won't have Setapp posts or affiliates on this blog. If you enjoy the content, buy me a coffee. That's all I ask. I've been writing here for 3, almost 4 years. I'm really trying to keep this up. You can help out, if you want. Just click the button below.</p>
</div>
