<div class="notice--info">
  <h4>No Ads. No Sponsored Content. Ever.</h4>
  <p>I've decided that I no longer want to have sponsored posts on this blog. I also, though as tempting as it may sound, don't want ads; even if I got big enough for Carbon ads I don't want them. I want to post free, engaging content for beginning/junior devs. This means that I won't have Setapp posts or affiliates on this blog, though I will keep them on the <a href="/uses">Uses</a> page. If you enjoy the content, buy me a coffee. Just click the button below.</p>
</div>
