// Fonts
$font-primary: 'Merriweather', serif;
$font-secondary: 'Lato', sans-serif;
$monospace-font: 'Fira Code', monospace;

// Colors
$color-accent: #06d7d9;
$gray: #a1a1a7;
$gray-dark: #535358;
$gray-darkest: #2f313d;
$gray-light: #d8d8d8;
$gray-lighter: #e5e7e9;
$gray-lightest: #f9f9fb;
$yellow: #fffac4;

$primary-color: #920358 !default;
$success-color: #62c462 !default;
$warning-color: #b305b3 !default;
$danger-color: #e60023 !default;
$info-color: #4bc3d5 !default;
$tip-color: #fff450 !default;
