.center {
  display: inline;
  text-align: center;
}

.pad {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
  padding-bottom: 5px;
}


.turq-button, a.turq-button {
  color: #fff;
  border: 1px solid #AE1B75;
  background: #AE1B75;
}

.button, [type=button], [type=reset], [type=submit], a.button, button {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #AE1B75;
  border-radius: 0;
  background: #AE1B75;
  color: #fff;
  font-weight: 600;
  font-family: Nunito,-apple-system,BlinkMacSystemFont,Nunito Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: .75rem 1.25rem;
  margin: 0 0 .5rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}
.fa-coffee {
  padding-right: 1rem;
}
