.center {
  display: inline;
  text-align: center;
}

.pad {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
  padding-bottom: 5px;
}
.pad-up {
  display: flex;
  flex-direction: row;
  padding-top: 2vh;
  padding-bottom: 2vh;
}


/* textarea {
  resize: both 4vw;
} */

.purp-button, a.purp-button {
  color: #fff;
  border: 1px solid #AE1B75;
  background: #AE1B75;
}

a.purp-button:hover {
  background-color: rgba(174,27,117, 0.8);
  color: #fff;
}

.button, [type=button], [type=reset], [type=submit], a.button, button {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #AE1B75;
  border-radius: 0;
  background: #AE1B75;
  color: #fff;
  font-weight: 600;
  font-family: Nunito,-apple-system,BlinkMacSystemFont,Nunito Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: .75rem 1.25rem;
  margin: 0 0 .5rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}
.fa-coffee {
  padding-right: 1rem;
}

a.btn--twitter:hover {
  background-color: rgb(0, 182, 241);
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
a.btn--linkedin:hover {
  background-color: rgb(4, 102, 154);
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
a.btn--hacker-news:hover {
  background-color: rgb(255, 87, 0);
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.fa-clock {
  padding-right: .1rem;
}
.btn--twitter {
  background-color: #55acee;
  color: #fff;
}

.btn--hacker-news {
  background-color: #FF6600;
  color: #fff;
}
/* .devto-logo {
  fill: white;
} */

.btn--linkedin {
  background-color: #007bb6;
  color: #fff;
}

.page__share {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid;
}
.btn {
  /* default */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  font-family: "Helvetica Neue";
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-width: 0;
  border-radius: 4px;
  cursor: pointer;
}
.icon {
  margin-right: 0.5em;
}

.icon + .hidden {
  margin-left: -0.5em; /* override for hidden text*/
}

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .btn span {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }


  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .btn span {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }

  @media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .btn span {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }

  .page__share-title {
    margin-bottom: 10px;
    font-size: 0.7rem;
    text-transform: uppercase;
  }
  .webmention__author,
  .webmention__source {
    font-size: 0.9em;
    font-weight: normal;
  }

  .webmention--author-starts .webmention__author .p-name {
    display: none;
  }

  [data-webmention-types*='replies'] .webmentions__item {
    clear: both;
    position: relative;
    min-height: 48px;
  }
  [data-webmention-types*='replies'] .webmentions__item article {
    margin: 0 0 2em;
    padding: 0.5em 0 0 calc(48px + 1em);
  }
  [data-webmention-types*='replies'] .webmention--no-photo {
    padding: 0.5em 0 0 0;
  }
  @media (min-width: 40em) {
    [data-webmention-types*='replies'] .webmention--no-photo {
      padding: 0.5em 0 0 calc(48px + 1em);
    }
  }
  [data-webmention-types*='replies'] .webmention__author__photo {
    display: block;
    position: absolute;
    top: 0.8em;
    left: 0;
    width: 48px;
    height: 48px;
    margin: 0;
    border-radius: 5px;
  }
  [data-webmention-types*='replies'] .webmention__source__screenshot {
    margin: 0;
    max-width: 300px;
    width: 50vw;
    height: auto;
    border: solid 1px #ccc;
  }
  @media (min-width: 40em) {
    [data-webmention-types*='replies'] .webmention__source__screenshot {
      float: right;
      margin: 0 0 2em 1em;
    }
  }
  [data-webmention-types*='replies'] .webmention__content {
    margin: 0;
    p-margin: 0;
  }
  [data-webmention-types*='replies'] .webmention__meta {
    color: #06D7D9;
    font-size: 0.9em;
  }



