---
layout: default
---

<header>
  <h1 class="post-title">{{ page.title }}</h1>
</header>
<div class="content">
  {% include post-meta.html post=page %}

  <div class="post-body">
    {% include read_time.html %}
    {{ content }}
    {% include post-tags.html post=page %}
  </div><br />

  <div class="pad">
    <span>{% include social-share.html %}</span>
  </div><br />

  <div class="pad">
      {% include notice-info.html %}
  </div><br />

  <div class="pad flex-left">
      {% include coffee.html %}
  </div><br />

  <div class="pad flex-right">
    {% include large-button-followers.html %}
  </div><br />

  {% webmention_count page.url %}
  {% webmentions page.url %}

  {% comment %}
  {% include webmentions/count.html %}
  {% include webmentions/webmentions.html %}
  {% include webmentions/reposts.html %}
  {% endcomment %}
</div>
